In [5]:
import pandas as pd
import numpy as np
import smtplib
from email.message import EmailMessage
from dotenv import load_dotenv
import os

# import the CSV as a dataframe
df = pd.read_csv('PadronCaba.txt', sep=';',encoding='latin1',usecols=range(12),header=None)

In [2]:
df.head(20)

,0,1,2,3,4,5,6,7,8,9,10,11
0,26022024,1032024,31032024,20000163989,D,S,N,"0,00","0,00",0,0,ETCHEVERRIGARAY JUAN CARLOS ...
1,26022024,1032024,31032024,20000182274,D,S,N,"0,00","0,00",0,0,SA&UDO CLEMENTINO ...
2,26022024,1032024,31032024,20000182770,D,S,N,"0,00","0,00",0,0,...
3,26022024,1032024,31032024,20000188299,D,S,N,"0,00","0,00",0,0,...
4,26022024,1032024,31032024,20000202887,D,S,N,"0,00","0,00",0,0,...
5,26022024,1032024,31032024,20000226557,D,S,N,"0,00","0,00",0,0,...
6,26022024,1032024,31032024,20000523535,D,S,N,"0,00","0,00",0,0,...
7,26022024,1032024,31032024,20000550923,D,S,N,"0,00","0,00",0,0,...
8,26022024,1032024,31032024,20000621634,D,S,N,"0,00","0,00",0,0,...
9,26022024,1032024,31032024,20000691810,D,S,N,"0,00","0,00",0,0,DE BENEDETTI ISIDORO ...
10,26022024,1032024,31032024,20000768252,D,S,N,"0,00","0,00",0,0,...
11,26022024,1032024,31032024,20000772608,D,S,N,"0,00","0,00",0,0,...
12,26022024,1032024,31032024,20000800156,D,S,N,"0,00","0,00",0,0,...
13,26022024,1032024,31032024,20000802973,D,S,N,"0,00","0,00",0,0,...
14,26022024,1032024,31032024,20000806553,D,S,N,"0,00","0,00",0,0,...
15,26022024,1032024,31032024,20000811727,D,S,N,"0,00","0,00",0,0,...
16,26022024,1032024,31032024,20000898636,D,S,N,"0,00","0,00",0,0,...
17,26022024,1032024,31032024,20000948676,D,S,N,"0,00","0,00",0,0,NAPOLITANO AMADEO GE NARO ...
18,26022024,1032024,31032024,20000956334,D,S,N,"0,00","0,00",0,0,...
19,26022024,1032024,31032024,20000958736,D,S,N,"0,00","0,00",0,0,...

In [3]:
df.columns = ['Fecha_de_Publicación', 'Fecha_Vigencia_Desde', 'Fecha_Vigencia_Hasta', 'Número_de_Cuit', 'Tipo-Contr_Insc',
 'Marca-alta_sujeto', 'Marca-alícuota', 'AlícuotaPercepción', 'Alícuota- Retención', 'Nro-GrupoPercepción', 'Nro-GrupoRetención', 'Razón_Social']

In [4]:
df.head(20)

,Fecha_de_Publicación,Fecha_Vigencia_Desde,Fecha_Vigencia_Hasta,Número_de_Cuit,Tipo-Contr_Insc,Marca-alta_sujeto,Marca-alícuota,AlícuotaPercepción,Alícuota- Retención,Nro-GrupoPercepción,Nro-GrupoRetención,Razón_Social
0,26022024,1032024,31032024,20000163989,D,S,N,"0,00","0,00",0,0,ETCHEVERRIGARAY JUAN CARLOS ...
1,26022024,1032024,31032024,20000182274,D,S,N,"0,00","0,00",0,0,SA&UDO CLEMENTINO ...
2,26022024,1032024,31032024,20000182770,D,S,N,"0,00","0,00",0,0,...
3,26022024,1032024,31032024,20000188299,D,S,N,"0,00","0,00",0,0,...
4,26022024,1032024,31032024,20000202887,D,S,N,"0,00","0,00",0,0,...
5,26022024,1032024,31032024,20000226557,D,S,N,"0,00","0,00",0,0,...
6,26022024,1032024,31032024,20000523535,D,S,N,"0,00","0,00",0,0,...
7,26022024,1032024,31032024,20000550923,D,S,N,"0,00","0,00",0,0,...
8,26022024,1032024,31032024,20000621634,D,S,N,"0,00","0,00",0,0,...
9,26022024,1032024,31032024,20000691810,D,S,N,"0,00","0,00",0,0,DE BENEDETTI ISIDORO ...
10,26022024,1032024,31032024,20000768252,D,S,N,"0,00","0,00",0,0,...
11,26022024,1032024,31032024,20000772608,D,S,N,"0,00","0,00",0,0,...
12,26022024,1032024,31032024,20000800156,D,S,N,"0,00","0,00",0,0,...
13,26022024,1032024,31032024,20000802973,D,S,N,"0,00","0,00",0,0,...
14,26022024,1032024,31032024,20000806553,D,S,N,"0,00","0,00",0,0,...
15,26022024,1032024,31032024,20000811727,D,S,N,"0,00","0,00",0,0,...
16,26022024,1032024,31032024,20000898636,D,S,N,"0,00","0,00",0,0,...
17,26022024,1032024,31032024,20000948676,D,S,N,"0,00","0,00",0,0,NAPOLITANO AMADEO GE NARO ...
18,26022024,1032024,31032024,20000956334,D,S,N,"0,00","0,00",0,0,...
19,26022024,1032024,31032024,20000958736,D,S,N,"0,00","0,00",0,0,...

In [5]:
# import the list of active suppliers from the TXT file
with open('Proveedoresactivos.txt', 'r') as f:
    active_suppliers = f.read().splitlines()

    # import the list of active clients from the TXT file
with open('clientes_activos.txt', 'r') as f:
    active_clients = f.read().splitlines()

In [6]:
df.iloc[:,3] = df.iloc[:,3].astype(str)

In [7]:
# filter the dataframe to only include rows where the fourth column matches a value in the active_suppliers list
df_suppliers = df[df.iloc[:,3].apply(lambda x: x in active_suppliers)]

# filter the dataframe to only include rows where the fourth column matches a value in the active_suppliers list
df_clients = df[df.iloc[:,3].apply(lambda x: x in active_clients)]

In [8]:
df.head(10)

,Fecha_de_Publicación,Fecha_Vigencia_Desde,Fecha_Vigencia_Hasta,Número_de_Cuit,Tipo-Contr_Insc,Marca-alta_sujeto,Marca-alícuota,AlícuotaPercepción,Alícuota- Retención,Nro-GrupoPercepción,Nro-GrupoRetención,Razón_Social
0,26022024,1032024,31032024,20000163989,D,S,N,"0,00","0,00",0,0,ETCHEVERRIGARAY JUAN CARLOS ...
1,26022024,1032024,31032024,20000182274,D,S,N,"0,00","0,00",0,0,SA&UDO CLEMENTINO ...
2,26022024,1032024,31032024,20000182770,D,S,N,"0,00","0,00",0,0,...
3,26022024,1032024,31032024,20000188299,D,S,N,"0,00","0,00",0,0,...
4,26022024,1032024,31032024,20000202887,D,S,N,"0,00","0,00",0,0,...
5,26022024,1032024,31032024,20000226557,D,S,N,"0,00","0,00",0,0,...
6,26022024,1032024,31032024,20000523535,D,S,N,"0,00","0,00",0,0,...
7,26022024,1032024,31032024,20000550923,D,S,N,"0,00","0,00",0,0,...
8,26022024,1032024,31032024,20000621634,D,S,N,"0,00","0,00",0,0,...
9,26022024,1032024,31032024,20000691810,D,S,N,"0,00","0,00",0,0,DE BENEDETTI ISIDORO ...

In [9]:
# output the filtered dataframe to a new CSV
df_suppliers.to_csv('Padron_proveedores.csv', index=False)

# output the filtered dataframe to a new CSV
df_clients.to_csv('Padron_clientes.csv', index=False)

In [15]:



# email server configuration
load_dotenv()
smtp = smtplib.SMTP('smtp.gmail.com', 587)
smtp.starttls()
smtp.login('pruebadetrabajo105@gmail.com', os.getenv('PASS'))


# creating message 

mensaje = EmailMessage()
mensaje['From'] = 'pruebadetrabajo105@gmail.com'
mensaje['To'] = 'ponetucorreo@yahoo.com.ar'
mensaje['Subject'] = 'Here is the file'
mensaje.set_content('Here is the file.')

# attaching files

with open('Padron_proveedores.csv', 'rb') as f:
    contenido_archivo = f.read()
    mensaje.add_attachment(contenido_archivo, maintype='application', subtype='vnd.openxmlformats-officedocument.spreadsheetml.sheet', filename='Padron_proveedores.csv')

with open('Padron_clientes.csv', 'rb') as f:
    contenido_archivo = f.read()
    mensaje.add_attachment(contenido_archivo, maintype='application', subtype='vnd.ms-excel', filename='Padron_clientes.csv')

# sending
    
smtp.send_message(mensaje)
smtp.quit()

(221,
 b'2.0.0 closing connection h20-20020adfa4d4000000b0033e68338fbasm12711649wrb.81 - gsmtp')